*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #2f2625;
}

#cuerpo{
    width: 500px;
    height: auto;
    margin-top: 50px;

    background-color: #776a64;
    box-shadow: 20px 20px 10px #1a1414;
    border-radius: 6px;

    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
}
#cabecera{
    height: auto;
    color: #e8fff8 ;
    background-color: #375047;
    border-radius: 5px 5px 0 0;
}



#contenido{
    height: auto;
    padding: 30px 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.seccion{
    width: 45%;
    height: auto;
    padding: 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.seccion label{
    width: 100%;
    font-size: 14px;
}
.componente {
    width: 75%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}
.resultado{
    margin: 0;
    font-weight: bold;
}
#EsSimetrico{
    font-size: 24px;
}
#divPorcentajes{
    display: none;
}
#lblNumeros{
    display: none;
}
#numeros{
    display: none;
}



#pie{
    height: 60px;
    background-color: #375047;
    border-radius: 0 0 5px 5px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#pie button{
    width: 30%;
    height: 30px;
    margin: 0 20px;
    font-size: 18px;
}